body {
background-color: #F5E0FF;
height: 100%;
}

html{
	height: 100%;
}

.wrapper {
    min-height: 84%;
    height: auto !important;
    height: 100%;
    margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
}

.panel-primary {  
  background-color: #FFFFFF;
}

.list-group-item {  
  background-color: #FFFFFF;  
}

.rating-container {
  background-color: #FFFFFF;  
  margin-left: auto;
  margin-right: auto;
  width:110px;
  text-align: center ; 
  border-style: outset;
  border-width: 4px; 
  border-color: #DD4814;
  border-radius: 25px;
  
}

.img-rounded {
  width: 210px;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.resized-form {
	width: 450px;
	margin-bottom: 25px;
	float: left
}

.beer-content {
	height:420px;
}

#reviews {
	width: 100%;
}

.beer-img {
	width: 100%;
	max-width: 220px;
  	height: 100%;
  	max-height: 220px;
	display: block;
	padding-right:7px;
	padding-left:7px;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 5px; 
	border-color: #DD4814;
	border-radius: 15px;
	
}

#user-profile.thumbnail {
	width:350px;
	height:350px;
	float: left;
}

.description-list{
	width: 100px;
	height: 100px;
	position: relative;
	float: left;
	border-style: outset;
	border-width: 5px; 
	border-color: #DD4814;
}

.thumbnail img {
	width: 100%;
	height: 100%;
}

.image-list{
	height:150px;
}

.footer {
	width:100%;
	background-color: #FFD7A3;
}

.push {
    height: 150px; /* .push must be the same height as .footer */
}

.social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.social {
	-webkit-transform: scale(0.8);
	/* Browser Variations: */
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
.social-fb:hover {
	color: #3B5998;
}

.social-tw:hover {
	color: #4099FF;
}

.social-gp:hover {
	color: #d34836;
}

.social-em:hover {
	color: #f39c12;
}

.list-group-item .right{
	text-align: right;
}

.btn-sm btn-primary .center{
	float: center;
	}

/* INPUT FORM ICONS SUPPORT */
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}



/* ****************************************************  DIALOG BOX STYLING  ******** */



.ui-widget-content { /** dialog inside background **/
    background: #FFFFFF;
    border: 2px solid #38B44A;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
 
}

.ui-dialog .ui-dialog-content {
    padding: 10;
}


.ui-widget-header {
    background: #38B44A;
    border: 5;
    color: #fff;
    font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
        font-size: 1em;
}



