body {
background-color: #F5E0FF;
}

.panel-primary {  
  background-color: #FFFFFF;
}

.list-group-item {  
  background-color: #FFFFFF;  
}

.bg-white {
  background-color: #FFFFFF;  
}

/*#F5FBFD  #E6F5FA*/




