{% extends 'beerbookapp/base.html' %}	

{% load staticfiles %}


{% block body_block %}

	{% if beer %}
	
		<div class="page-header"><h1><p>{{ beer.name }}</p></h1></div>
		<div class="rows">
			<div class="col-md-3">		
				<div class="panel panel-default">
				  <div class="panel-body">
					<div class="col-md-12"> 
						<img class="img-rounded" src="/media/{{ beer.image }}" width="100%" alt="No picture uploaded">
					</div>
					
					<div class="col-md-8 col-md-offset-3">						
						{% if rating == null %}
							<p>Unrated</p>
						{% else %}
							<input name="star-{{ beer.name }}" type="radio" class="star" disabled="disabled" {% if rating == 1 %}checked="checked"{% endif %}/>
							<input name="star-{{ beer.name }}" type="radio" class="star" disabled="disabled" {% if rating == 2 %}checked="checked"{% endif %}/>
							<input name="star-{{ beer.name }}" type="radio" class="star" disabled="disabled" {% if rating == 3 %}checked="checked"{% endif %}/>
							<input name="star-{{ beer.name }}" type="radio" class="star" disabled="disabled" {% if rating == 4 %}checked="checked"{% endif %}/> 
							<input name="star-{{ beer.name }}" type="radio" class="star" disabled="disabled" {% if rating == 5 %}checked="checked"{% endif %}/>
						{% endif %}
						<br><br>
						
							<button id="rate-btn" class="btn btn-primary">Rate It!</button>
						
					</div>						
					
				  </div>
				</div>
			</div>
			
			<div class="col-md-5">		
				<div class="panel panel-default">
				  <div class="panel-body">
					
					
					<p>{{ beer.description }}</p>
					
					
				  </div>
				</div>
			</div>
			
			<div class="col-md-4">		
				<div class="panel panel-default">
				  <div class="panel-body">
					REVIEWS
				  </div>
				</div>
			</div>
		</div>
	
	<!-- RATING POPUP CONTENT -->
	<div id="rate-popup" class="ui-helper-hidden">
		<br>
		<div class="col-md-8 col-md-offset-3">
			<input name="add-rating" value="1" type="radio" class="star"/>
			<input name="add-rating" value="2" type="radio" class="star"/>
			<input name="add-rating" value="3" type="radio" class="star"/>
			<input name="add-rating" value="4" type="radio" class="star"/> 
			<input name="add-rating" value="5" type="radio" class="star"/>
		</div>
		<br><br>
		<div class="col-md-3 col-md-offset-5">
			<button data-beerslug="{{ beer.slug }}" data-user="bob" id="rate-btn-add" class="btn-sm btn-primary">Add</button>
		</div>
		<div class="col-md-3">
			<button id="rate-btn-cancel" class="btn-sm btn-primary">Cancel</button>
		</div>	
	</div>
	
	
		
	{% else %}
		<strong>Beer not found</strong>
	{% endif %}
	
{% endblock %}	
