{% extends 'beerbookapp/base.html' %}

{% block title %}Event Catalogue{% endblock %}

{% block body_block %}
	<div class="page-header"><h2>Event Catalogue</h2></div>
	
	<div class="row">
		<div class="col-md-5 col-md-offset-2"> <!-- ******************************************** EVENT LIST -->					
			<div class="list-group">
				{% if search_event %}						
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading"></h4>
							<p class="list-group-item-text"></p>
						</a>						
				{% elif events_list %}
					{% for event in events_list %}	
						<a href="/beerbook/event_catalogue/{{ event.3 }}" class="list-group-item">
							<h4 class="list-group-item-heading">{{ event.0 }}</h4>
							<div class="row">
								<div class="col-md-8">								
									<p class="list-group-item-text">{{ event.1|date:"d M Y" }}</p> 
								</div>
								<div class="col-md-4">
									<p class="list-group-item-text">Created by:  {{ event.2 }}</p>
								</div>
								<br>
							</div>
							<div class="row">
								<div class="col-md-8">
									<p class="list-group-item-text">{{ event.1|date:"h:m" }}</p>
								</div>
							</div>
						</a>
					{% endfor %}
				{% else %}
					<strong>No Events found</strong>
				{% endif %}				
			</div>		
		</div>
	</div>
{% endblock %}
