{% extends 'beerbookapp/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}



{% block scripts %}
<!-- Carousel -->
    <link rel="stylesheet" type="text/css" href="{% static "css/carousel.css" %}">
    <script type="text/javascript" src="http://sorgalla.com/jcarousel/dist/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="http://sorgalla.com/jcarousel/examples/connected-carousels/jcarousel.connected-carousels.js"></script>
{% endblock %}


{% block body_block %}
    <div class="col-md-8">
        <div class="connected-carousels" style=" background: #f5f5f5;">
            <h1 style="text-align: center; font-size: 52px;"> TOP RATED BEERS</h1>
            {% if top_beers %}
                <div class="navigation">
                    <div class="carousel carousel-navigation">
                        <ul>
                            {% for beer in top_beers %}
                                <li>
                                    {% if beer.2 != "" %}
                                        <div id="img-box"><img src="/media/{{ beer.2 }}" id="image-override-thumb" alt="No picture found"></div>
                                    {% else %}
                                        <div id="img-box"><img src="/media/beer_images/noimage.jpg" id="image-override-thumb" alt="YEH No picture found"></div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            <div class="stage" style="background-color: #4E443C;">
                <div class="carousel carousel-stage">
                    <ul>
                        {% if top_beers %}
                            {% for beer in top_beers %}
                                <li>
                                    <div id="slide">
                                        <div id="image">
                                            {% if beer.2 != "" %}
                                                <img class="img-rounded" id="image-override" src="/media/{{ beer.2 }}" alt="No picture found">
                                            {% else %}
                                                <img class="img-rounded" id="image-override" src="/media/beer_images/noimage.jpg" alt="YEH No picture found">
                                            {% endif %}

                                            <div class="row">
                                                {% if  beer.4 == null %}
                                                    <div class="rating-container">Unrated <i class="fa fa-frown-o"></i></div>
                                                {% else %}
                                                    <div class="rating-container">
                                                        <input name="star-{{ beer.0 }}" type="radio" class="star" disabled="disabled" {% if beer.4 == 1 %}checked="checked"{% endif %}/>
                                                        <input name="star-{{ beer.0 }}" type="radio" class="star" disabled="disabled" {% if beer.4 == 2 %}checked="checked"{% endif %}/>
                                                        <input name="star-{{ beer.0 }}" type="radio" class="star" disabled="disabled" {% if beer.4 == 3 %}checked="checked"{% endif %}/>
                                                        <input name="star-{{ beer.0 }}" type="radio" class="star" disabled="disabled" {% if beer.4 == 4 %}checked="checked"{% endif %}/>
                                                        <input name="star-{{ beer.0 }}" type="radio" class="star" disabled="disabled" {% if beer.4 == 5 %}checked="checked"{% endif %}/>
                                                    </div>
                                                {% endif %}
                                                <br>
                                            </div>
                                        </div>

                                        <div id="info_carousel" >
                                            <h2> {{ beer.1 }} </h2>
                                            <br>
                                            <br>
                                            <p> {{ beer.3 }} ...</p>
                                            <br>
                                            <a class="btn btn-primary" href="/beerbook/beer_catalogue/{{ beer.0 }}">Find out more!</a>
                                        </div>

                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li id="slide"><h1> There are no beers here.</h1></li>
                        {% endif %}
                    </ul>
                </div>
                <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
                <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
            </div>
        </div>
    </div>

    <div style="float:right; margin-top:20px;" class="col-md-4 list-group">
        <div class="well">
            <h2> Upcoming Events </h2>

            {% if recent_events %}
                <ul class="list-group" style="list-style: none">
                    {% for event in recent_events %}
                        <a href="/beerbook/event_catalogue/{{ event.3 }}" style="text-decoration: none; font-c">
                        <li class=" panel panel-warning">

                                <div class="panel-heading">
                                    <h4 class="list-group-item-heading panel-title" style="text-transform: uppercase; text-align: center">{{ event.0 }}</h4>
                                </div>

                                <div class="panel-content">
                                    <p class="list-group-item-text panel-body"> {{ event.1|date:"d M Y" }} at  {{event.1|date:" h:m" }}
                                        <strong class="list-group-item-text" >   - {{ event.2 }}</strong></p>
                                </div>
                        </li>
                        </a>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Unfortunately there are no upcoming events.</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
