{% extends 'beerbookapp/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
    <div class="connected-carousels">
        {% if top_beers %}
            <div class="navigation">
                <div class="carousel carousel-navigation">
                    <ul>
						{% for beer in top_beers %}
							<li>
								{% if beer.2 != "" %}
									<img src="/media/{{ beer.2 }}" width="100px" alt="No picture found">
								{% else %}
									<img src="/media/beer_images/noimage.jpg" width="100px" alt="YEH No picture found">
								{% endif %}
							</li>
						{% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}


        <div class="stage">
            <div class="carousel carousel-stage">
                <ul>
                    {% if top_beers %}
                        {% for beer in top_beers %}
							<li>
								<div id="slide">
									<div id="image">
										{% if beer.2 != "" %}
											<img class="img-rounded" src="/media/{{ beer.2 }}" width="100px" alt="No picture found">
										{% else %}
											<img class="img-rounded" src="/media/beer_images/noimage.jpg" width="100px" alt="YEH No picture found">
										{% endif %}
										<p id="beer_rating"> Rating goes here.</p>
									</div>

									<div id="info_carousel" >
										<h1> {{ beer.1 }} </h1>
										<p> {{ beer.3 }} ...</p>
										<a class="btn btn-primary" href="/beerbook/beer_catalogue/{{ beer.0 }}">Find out more!</a>
									</div>

								</div>
							</li>
                        {% endfor %}
                    {% else %}
                        <li id="slide"><h1> There are no beers here.</h1></li>
                    {% endif %}
                </ul>
            </div>
            <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
            <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
        </div>
    </div>

	<div style="float:right;" class="col-md-4 list-group">
		<div class="well">
			<h2> Upcoming Events </h2>
			<ul>
				<li>
					<h4 class="list-group-item-heading"> Event title </h4>
					<p class="list-group-item-text"> Event info. </p>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
