{% extends 'beerbookapp/base.html' %}

{% load staticfiles %}

{% block title %}{{ userprofile.first_name }} {{ userprofile.last_name }}{% endblock %}

{% block body_block %}
	{% if form.errors %}
		<div class="page-header">
			<h1 id="username" data-username="{{act_user.username}}">{{ act_user.first_name }} {{ act_user.last_name }}</h1>
		</div>
		<img src="{{ MEDIA_URL }}{{userprofile.picture }}" width="300" height="300" alt="{{act_user.username}}" />
		<br/><br/>
		<div id="edit_profile"></div>
		<div id="change_password_div">{% include "beerbookapp/change_password.html" with form=form %}</div>
	{% else %}
		<div class="page-header">
			<h1 id="username" data-username="{{act_user.username}}">{{ act_user.first_name }} {{ act_user.last_name }}</h1>
		</div>
		<div class="col-md-4">
			<div id="user-profile" class="thumbnail">
				<img src="{{ MEDIA_URL }}{{userprofile.picture }}" width="300" height="300" alt="{{act_user.username}}" />
			</div>
			{% if messages %}
			<br/>
			<br/>
				{% for message in messages%}
				<center><div class="alert alert-success alert-dismissible" style="width: 100%; margin-top: 20px;">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  				<span aria-hidden="true">&times;</span>
					</button> 
					<strong>Success!</strong>
					{{ message }}
				</div></center>
				{% endfor %}
			{% endif %}
		</div>
		<div class="col-md-8">
			<div id="profile_data">
				<label>Name:</label>
				<p>{{ act_user.first_name }} {{ act_user.last_name }}</p>
				<label>Email:</label>
				<p>{{act_user.email}}</p>
				{% if userprofile.website %}
					<label>Website:</label>
					<p><a target="_blank" href="{{userprofile.website}}">{{userprofile.website}}</a></p>
				{% endif %}
				{%if userprofile.bio%}
					<label>Bio:</label>
					<p>{{userprofile.bio}}</p>
				{% endif %}
				{% if user.username == act_user.username %}
				<input id="edit" data-userid="{{act_user.pk}}" class="btn btn-primary" type="submit" name="submit" value="Edit Profile" />
				<input id="change_password" data-userid="{{act_user.pk}}" class="btn btn-primary" type="submit" name="submit" value="Change Password" />
				{% endif %}
			</div>
			<div id="edit_profile"></div>
			<div id="change_password_div"></div>
		
	{% endif %}
	</div>
	
{% endblock %}